// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #f4645f;
}

[v-cloak] {display: none}

.table thead th, .table tfoot th {
	font-weight:300;
	font-style: italic;
	color:#424242;
}

.table td {
	font-weight:400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight:400;
	color: #272727;
}

.dataTables_wrapper { font-family: "Roboto", sans-serif; }

.breadcrumb { background: #f4645f; color: #fff !important; font-weight: 100; }
.breadcrumb a, .breadcrumb-item.active { color: #fff; }
.breadcrumb-item + .breadcrumb-item::before { color: #fff; }
.breadcrumb-item.active { font-weight: 600; }
.breadcrumb-item.active::before { font-weight: 100; }